#appFooter{
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    
}

.fbButton{
    background-color: transparent;
    border: none;
    color: white;
}

#messagesBtn{
    color: white;
    display: inline;

}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}