#appFooter{
    position: absolute;
    bottom: 4vh;
    width: 100%;
    text-align: center;
    
}

.fbButton{
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
}

.appFooterBtn{
    color: white;
    display: inline;
    margin-right: 5%;
    margin-left: 5%;

}
