#navbarDiv {
  position: absolute;
  z-index: 1;
  top: 6vh;
  width: 100vw;
  color: white;
}

#navbarDiv >h1{
  margin-bottom: 0;
}

.navbarButtons {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  justify-content: center;
}

.appNavbarBtnOn {
  margin-top: 0;
  color: white;
  margin-left: 1.2vh;
  margin-right: 1.2vh;
}

.appNavbarBtnOff {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.555);
  margin-left: 1.2vh;
  margin-right: 1.2vh;
}
