.videoFooter {
  position: relative;
  color: white;
  bottom: 43vh;
  margin-left: 20px;
  /* display: flex; */
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text > p {
  padding-bottom: 5hv;
  margin-left: 0;
  max-width: 50vw;
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  right: 80px;
  bottom: 3vh;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 50%;
}

.videoFooter__text > h3 {
  margin: 0px;
  margin-right: 10px;
  display: inline;

}

.videoFooter__ticker h1 {
  padding-bottom: 1vh;
}

#directMessage{
  transform: rotate(-20deg);
}

.priceDiv{
  width: 25vh;
  height: 13vh;
  background-color: rgba(245, 245, 245, 0.8);
  border: solid black 1px;
  border-radius: 5px;
  text-align: center;
}



.buyBtn{
  width: 30vh;
  height: 8vh;
  background-color: white;
  border: solid black 1px;
  border-radius: 2px;
  margin: auto;
  justify-items: center;
  text-align: center;
  color: black;
}


