.videoSidebar {
  position: absolute;
  top: 35%;
  right: 1vh;
  color: white;
}

.videoSidebar__button {
  padding: 7px;
  text-align: center;
}

#paypalPopUp {
  position: absolute;
  top: 14%;
  width: 100%;
  overflow: scroll;
  max-height: 435px;
  background-color: rgba(255, 255, 255, 0.3);
}

.number{
  margin: 0px;
}
